:root {
    --white-blue: #DEEAFF;
    --light-blue: #2471F9;
    --middle-blue: #417BA7;
    --deep-blue: #125A91;
    --min-width: 320px;
    --max-width: 640px;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body,
.app {
  height: 96vh;
  padding: 0px 14px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.auth {
  align-items: center;
  max-width: var(--max-width);
  min-width: var(--min-width);
}

.component {
  max-width: var(--max-width);
  min-width: var(--min-width);
}

button {
    font-family: 'Noto Sans KR', sans-serif !important;
}

a {
    font-family: 'Noto Sans KR', sans-serif !important;
}

/* messages */
.messages {
  height: 450px;
  overflow-y: scroll;
}

/* messages form */

.message__form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}

/* message component */

.message__self {
  border-left: 1px solid orange;
  padding-left: 8px;
}

/* progress bar styles */

.progress__bar {
  margin: 0.3em 0 0 0 !important;
}

/* color panels */

.color__container {
  position: relative;
  overflow: hidden;
  width: 35px;
  border-radius: 3px;
}

.color__square {
  width: 35px;
  height: 35px;
}

.color__overlay {
  width: 85px;
  height: 35px;
  transform: rotate(225deg);
}

/* typing ...*/

.user__typing {
  font-style: italic;
  font-weight: bold;
  margin-right: 3px;
}

.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background-color: #e6e6e6;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: #8d8c91;
  border-radius: 50px;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(1) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(1) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 50%;
  }
  100% {
    opacity: 0;
  }
}

/* emoji picker styles */

.emojiPicker {
  position: absolute;
}

.skeleton {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.skeleton:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4) transparent
  );
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.skeleton__avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
  background-color: rgba(58, 57, 57, 0.3);
  width: 120px;
  height: 10px;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 0;
}

.skeleton__details {
  background-color: rgba(58, 57, 57, 0.3);
  height: 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 3px;
  right: 20px;
  left: 40px;
}


@charset "utf-8";

* {
	margin: 0; padding: 0; border: 0; font-weight: normal;
}

body {
	letter-spacing: -0.5px; background-color: #f5f5f5;
    font-family: 'Noto Sans KR', sans-serif !important;
}

a {
	text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
hr {
	clear: both; height: 0; border: 0;
}
img {
	vertical-align: middle;
}
ul {
	list-style-type: none;
}
aside, section {
	display: block;
}

aside {
	position: fixed; z-index: 9; right: 0; top: 0; height: 100%; overflow-y: auto; -ms-overflow-style: none; border-left: 1px solid #d6d6d6; font-family: "맑은 고딕", "돋움", "Apple SD Gothic Neo", sans-serif; background-color: #fff;
}
aside::-webkit-scrollbar {
	display: none;
}
aside > div.login {
	position: fixed; z-index: 11; top: 0; box-sizing: border-box; border-bottom: 1px solid #d6d6d6; background-color: #fff;
}
aside > div.login > a.logo {
	display: block; text-align: center;
}
aside > div.login > a.button {
	display: block; margin-bottom: 5px; height: 40px; line-height: 40px; box-sizing: border-box;
	font-size: 14px; font-weight: bold; text-align: center;
}
aside > div.login > a.button.login {
	border: 1px solid #e3e3e3; color: #737373;
}
aside > div.login > a.button.register {
	color: #fff; background-color: #c62917;
}
aside > div.login > p {
	padding: 5px 5px 0 5px; width: 50%; box-sizing: border-box;
}
aside > div.login > p.find {
	float: right; text-align: right;
}
aside > div.login > p.find > a {
	height: 15px; line-height: 15px; color: #444444; font-size: 12px; cursor: pointer;
}
aside > form.search {
	position: fixed; z-index: 11; padding: 5px; box-sizing: border-box; border-bottom: 1px solid #e3e3e3; background-color: #fff;
}
aside > form.search > p {
	padding: 10px; line-height: 20px;
	color: #292929; font-size: 14px; font-weight: bold;
}
aside > form.search > input {
	padding: 0 35px 0 10px; width: 100%; height: 40px; line-height: 20px; box-sizing: border-box; border: 1px solid #e3e3e3;
	color: #444444; font-size: 14px; background: #f2f2f2 url('/images/about/search.png') no-repeat right 10px center; background-size: 15px 15px;
}
aside > form.search > input:focus {
	outline: none;
}
aside > form.search > input::-ms-clear {
	display: none;
}
aside > div.campuslist {
	position: relative; z-index: 10;
}
aside > div.campuslist > a {
	display: block; padding: 0 15px; width: 100%; height: 50px; line-height: 50px; box-sizing: border-box; border-bottom: 1px solid #e3e3e3;
}
aside > div.campuslist > a:hover {
	background-color: #f5f5f5;
}
aside > div.campuslist > a > span.name {
	color: #444444; font-size: 14px;
}
aside > div.campuslist > a > span.count {
	float: right; color: #a6a6a6; font-size: 12px;
}

section {
	width: 100%; box-sizing: border-box; word-break: break-all; font-family: 'Noto Sans KR', sans-serif; text-align: center;
}
section.white {
	background-color: #fff;
}
section.init > div.wrap {
	position: relative; margin: 0 auto;
}
section.init > div.wrap > div.device {
	box-sizing: border-box;
}
section.init > div.wrap > div.device > div.screen {
	position: relative; z-index: 1; border: 2px solid #d6d6d6; border-bottom: 0; border-radius: 18px 18px 0 0; background-color: #fff; overflow: hidden;
}
section.init > div.wrap > div.device > div.screen > div.image {
	position: absolute; background: transparent url('/images/about/screen.png') no-repeat;
}
section.init > div.wrap > div.stores {
	font-size: 0;
}
section.init > div.wrap > div.stores > a {
	display: inline-block; border: 1px solid #d6d6d6; border-radius: 6px;
}
section.init > div.wrap > div.stores > a:first-child {
	margin-right: 5px;
}
section.footer > ul.links {
	padding: 16px 0; font-size: 0;
}
section.footer > ul.links > li {
	display: inline-block;
}
section.footer > ul.links > li > a {
	display: inline-block; line-height: 20px; color: #737373;
}
section.footer > ul.links > li.copyright > a,
section.footer > ul.links > li.privacy > a {
	font-family: 'Noto Sans KR', sans-serif;
}
section h1,
section h2 {
	color: #292929;
}
strong {
	color: #2471F9;
    font-family: 'SBAggroB';
    font-weight: 700;
	font-size: 48px;
}
section div.paragraph > p {
	color: #444444;
}
section div.paragraph > p > strong {
	font-family: 'Noto Sans KR';
}
section div.figures {
	font-size: 0;
}
section div.figures > div {
	display: inline-block;
}
section div.figures > div > p.number {
	color: #292929; font-family: 'Noto Sans KR';
}
section div.figures > div > p.number > strong {
	display: inline-block; margin-left: 8px; letter-spacing: -2px;
}
section div.figures > div > p.number > strong:first-child {
	margin-left: 0;
}
section div.figures > div > p.number > span {
	display: inline-block; margin-left: 4px;
}
section div.figures > div > p.description {
	color: #444444;
}
section div.figures > div > p.icon {
	margin: 0 auto; border-radius: 50px; background-color: #fff;
}

section.init > div.wrap > div.device > div.screen > div.home {
	opacity: 1;
}
section.init > div.wrap > div.device > div.screen > div.timetable {
	opacity: 0; animation: active-init-timetable 6s infinite;
}
section.init > div.wrap > div.device > div.screen > div.board {
	opacity: 0; animation: active-init-board 6s infinite;
}
@keyframes active-init-timetable {
	0% { opacity: 0; }
	26% { opacity: 0; }
	34% { opacity: 1; }
	67% { opacity: 1; }
	68% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes active-init-board {
	0% { opacity: 0; }
	59% { opacity: 0; }
	67% { opacity: 1; }
	92% { opacity: 1; }
	100% { opacity: 0; }
}

section.community > div.figures.active > div > p.icon > img {
	-webkit-animation: active-community 1s ease-out; animation: active-community 1s ease-out;
}
section.community > div.figures.active > div:nth-of-type(1) > p.icon > img {
	-webkit-animation-duration: 0.6s; animation-duration: 0.6s;
}
section.community > div.figures.active > div:nth-of-type(2) > p.icon > img {
	-webkit-animation-duration: 0.8s; animation-duration: 0.8s;
}
section.community > div.figures.active > div:nth-of-type(3) > p.icon > img {
	-webkit-animation-duration: 1s; animation-duration: 1s;
}
@-webkit-keyframes active-community {
	0% { opacity: 0; -webkit-transform: translateY(20px); }
	50% { opacity: 0; -webkit-transform: translateY(20px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@keyframes active-community {
	0% { opacity: 0; transform: translateY(20px); }
	50% { opacity: 0; transform: translateY(20px); }
	100% { opacity: 1; transform: translateY(0px); }
}

@media only screen and (max-width: 990px) {
    strong {
        color: #2471F9;
        font-family: 'SBAggroB';
        font-weight: 700;
        font-size: 40px;
    }
}

.find {
    text-align: right;
}

.find > a {
    color: #797979;
}

.ui.segment.loginBox {
    border: 1px solid rgba(36,115,254,0.3);
}

button.blue {
    background-color: var(--light-blue) !important;
    color: #FFFFFF !important;
}

button.blue:hover {
    background-color: var(--deep-blue) !important;
    color: #FFFFFF !important;
}

button.loginButton {
    background-color: var(--white-blue) !important;
    color: var(--deep-blue) !important;
}

button.loginButton:hover {
    background-color: var(--middle-blue) !important;
    color: #FFFFFF !important;
}

button.naviButton {
    width: 100% !important;
    height: 100% !important;
    background-color: var(--white-blue) !important;
    color: var(--deep-blue) !important;
}

button.naviButton:hover {
    width: 100% !important;
    height: 100% !important;
    background-color: var(--middle-blue) !important;
    color: #FFFFFF !important;
}

.mgb-14 {
    margin-bottom: 14px !important;
}

.max-w450 {
  max-width: 450px;
}

.max-w600 {
  max-width: 600px;
}

.navigator {
    background-color: #FFFFFF;
    color: var(--light-blue);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
    justify-content: center;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
    font-family: 'Noto Sans KR', sans-serif !important;
    font-size: 20px;
}

.w-25 {
    width: 25% !important;
    font-family: 'Noto Sans KR', sans-serif !important;
    font-size: 24px;
}

.menuBar{
    /* padding: 1rem; */
    background: #be5eff;
    width: 100%;
    margin-bottom: 1rem;
}
.tabs li{
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    color: #efefef;
    padding: 1rem;
}
.tabs li.active{
    background-color: #6f03b7;
    height: 100%;
}

.headerPanel {
  max-height: 40px;
  min-height: 30px;
  width: 620px;
  align-items: center;
  border-bottom:1px solid #DDD;
}

.titleTab {
  color: #2471F9;
  font-family: 'SBAggroB';
  font-weight: 400;
  font-size: 28px;
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.title {
    flex:5;
}

.settingL {
  flex:1;
  justify-content: left;
}

.settingR {
  flex:1;
}

.infoModal {
	color: #2471F9;
    font-family: 'SBAggroB';
    font-weight: 400;
	font-size: 24px;
	margin-top: 6px;
}

.content{position:absolute;top:52px;overflow-x:hidden;}

.listArea{width:100%;margin-bottom:50px;margin-top:52px;}
.listView li{border-bottom:1px solid #DDD;padding:10px 15px;display:inline-block;}
.listView li .title {padding:10px 0px;color:#000;font-size:1.6rem;font-weight:400;}
.listView li .title a{color:#000;}
.listView li .cont span{display:inline-block;color:#555;}
.listView li .cont span.date{margin-bottom:5px;color:#999;font-size:1.2rem}

.listView li .bookImg{position:relative;float:left;}
.listView li .bookDesc{float:left;width:100%;}
.listView li a.bookRow{padding:0px 10px 0px 100px;display:block;height:auto;}
.listView li a.bookRow .bookImg{margin-left:-100px;margin-top:10px;}
.listView li a.bookRow .cont span.author{margin-bottom:8px;color:darkblue;}

.tabBox{position:fixed;bottom:0px;width:100%;height:50px;border-top:1px solid #DDD;background-color:#FFF;}
.tabList{display:table;width:100%;table-layout:fixed;}
.tabList li{display:inline-block;text-align:center;width:49%;}
.tabList li:first-child{border-right:1px solid #DDD;}
.tabList li a{display:block;color:#000;font-size:1.6rem;line-height:48px;}
.tabList li a span{display:inline-block;padding:0px 8px;width:100%;}
.tabList li a.on span{background-color:#999;color:#FFF;font-weight:700;}

.header{padding:10px;border-bottom:1px solid #DDD;position:fixed;top:0;display:inline-block;z-index:100;width:100%;background-color:#FFF;}
.iptSearch{width:calc(100% - 110px);border:1px solid #EEE;line-height:27px;padding:0px 10px;margin-right:10px;}
button.search{padding:5px 10px;}
.ui.sidebar {
    overflow: visible !important;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}